.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: -webkit-linear-gradient(90deg, #567599,#1f2e4b);background: linear-gradient(90deg, #567599,#1f2e4b);
    }
    .Quiz h1 {
        color: white;
        margin-left: 10px;
    }

    .QuizWrapper {
        width: 600px;
    }